

body{
  background: -moz-radial-gradient(circle at 16% 20%, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.99) 100%);

  background: -webkit-radial-gradient(circle at 16% 20%, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.99) 100%);

  background: -o-radial-gradient(circle at 16% 20%, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.99) 100%);

  background: -ms-radial-gradient(circle at 16% 20%, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.99) 100%);

  background: radial-gradient(circle at 16% 20%, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0.99) 100%);
}


