

body{
  background: -moz-radial-gradient(circle at 16% 21%, rgba(255, 255, 0, 1) 0%, rgba(33, 10, 33, 1) 100%);

  background: -webkit-radial-gradient(circle at 16% 21%, rgba(255, 255, 0, 1) 0%, rgba(33, 10, 33, 1) 100%);

  background: -o-radial-gradient(circle at 16% 21%, rgba(255, 255, 0, 1) 0%, rgba(33, 10, 33, 1) 100%);

  background: -ms-radial-gradient(circle at 16% 21%, rgba(255, 255, 0, 1) 0%, rgba(33, 10, 33, 1) 100%);

  background: radial-gradient(circle at 16% 21%, rgba(255, 255, 0, 1) 0%, rgba(33, 10, 33, 1) 100%);
}


